<div class="control_panel">
  <div class="button" (click)="rotatePhoto(-2)" title="Повернуть в лево">
    <span class="icon-rotate_left2"></span>
  </div>
  <div class="button" (click)="rotatePhoto(+2)" title="Повернуть в право">
    <span class="icon-rotate_right2"></span>
  </div>
  <div class="button" (click)="rotatePhoto(-90)" title="Повернуть в лево на 90&deg;">
    <span class="icon-rotate_left_90"></span>
  </div>
  <div class="button" (click)="rotatePhoto(+90)" title="Повернуть в право на 90&deg;">
    <span class="icon-rotate_right_90"></span>
  </div>
  <div class="button" (click)="flipPhotoH()" title="Отразить горизонтально">
    <span class="icon-flip_horizontal"></span>
  </div>
  <div class="button" (click)="flipPhotoV()" title="Отразить вертикально">
    <span class="icon-flip_vertical"></span>
  </div>
  <div class="button" (click)="increaseCanvas()" title="Добавить поля, если фото не в формате">
    <span class="icon-white_border"></span>
  </div>
  <div class="button" (click)="saveCrop()" title="Сохранить изменения">
    <span class="icon-check"></span>
  </div>
</div>

<!--[resizeToWidth]="100"-->
<!--[resizeToHeight]="200"-->
<!--[disabled]="true"-->

<div class="cropper">
  <div class="cropper__crop" #crop>
    <image-cropper
      [imageURL]="photoOriginalURL"
      format="jpeg"
      imageAltText="Фото"
      [aspectRatio]="aspectRatio"
      [maintainAspectRatio]="true"
      [containWithinAspectRatio]="canvasBorder"
      [cropperMinWidth]="200"
      [cropperMinHeight]="300"


      [autoCrop]="true"
      backgroundColor="white"
      [transform]="transformPhoto"
      [allowMoveImage]="false"
      [hidden]="false"
      (imageCropped)="imageCropped($event)"
      (imageLoaded)="imageLoaded(this, $event)"
      (cropperReady)="cropperReady($event)"
      (loadImageFailed)="loadImageFailed()"
    ></image-cropper>

  </div>

  <div>
    <img class="cropper__preview" [src]="previewImage" #preview />
  </div>
</div>

