.header {
  display: flex;
  align-items: center;
  min-height: var(--header_height);
  border-bottom: 5px solid white;
  background-color: var(--header_color);

  position: fixed;
  width: 100vw;
  max-width: var(--max_width);
  z-index: 100;

  &__logo {
    min-width: 100px;
    height: 100px;
    background: center/contain no-repeat var(--header_logo);
    // inset <сдвиг по x> <сдвиг по y> <радиус размытия> <растяжение> <цвет>
    box-shadow: inset 0 0 12px 12px rgba(175, 175, 175);
  }

  &__spacer {
    font-family: "DS_Eraser2", "Arial", sans-serif;
    font-style: italic;
    color: #214aaa;
    text-align: center;
    font-size: 34px;
    text-shadow: 2px 2px 3px #fff, -2px 2px 3px #c6ad73, -2px -2px 3px #ffc517, 2px -2px 3px #1a1a1a;
  }

}

.indent {
  margin-top: var(--header_height);
}
