.header{
  display: flex;
  padding-right: 16px;
  background-color: var(--header_color);
//  box-shadow: 0px 0px 12px 8px var(--header_color);

  &__logo{
    min-width: 200px;
    height: 200px;

    background: center/contain no-repeat var(--header_logo);

    // inset <сдвиг по x> <сдвиг по y> <радиус размытия> <растяжение> <цвет>
    box-shadow: inset 0px 0px 16px 12px var(--header_color);
  }
  &__login{
    display: flex;
    gap: 16px;
    align-items: center;
  }
}

.avatar{
  height: 60px;
  border-radius: 50%;
}
