@import "./src/stules/button";
@import "./src/stules/input_text";
@import "./src/stules/radio_custom";
@import "./src/stules/check_custom";

.ritual_page_wrapper{
  display: flex;
  gap: 50px;
  //margin: 0 auto;
}

.ritual-form{
  //border: 1px solid black;
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 400px;
}

.form-control{
  display: flex;
  flex-direction: column;

  &__item{
    display: flex;
    align-items: center;
  }

  &__radio{
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 50%;
    align-items: center;
  }

  &--wrap{
    background-color: white;
    border: 1px solid black;
    border-radius: 8px;
    padding: 8px;
  }
}


.preview_wrap{
  width: 370px;
  height: 510px;
}

.preview{
  display: flex;
  position: relative;
  min-height: 600px;

  &__frame{
    position: absolute;
    z-index: 2;
    //height: 100ex;
    border: 1px solid black;
    cursor: pointer;
  }

  &__holeV{
    position: absolute;
    z-index: 15;
    left: 175px;
  }

  &__holeH{
    position: absolute;
    z-index: 15;
    top: 240px;
  }

  &__person{
    position: absolute;
    height: 440px;
    top: 40px;
    left: 0;
    z-index: 1;
  }
  &__cross{
    position: absolute;
    height: 80px;
    top: 50px;
    left: 300px;
    z-index: 10;
  }
  &__background{
    position: absolute;
    height: 510px;
    z-index: 0;
  }
  &__date{
    font-stretch: extra-condensed;
    letter-spacing: -2px;
    font-size: 24px;
  }
}

.textOnRitual{
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 7;
  top: 370px;
  left: 50px;
  width: 270px;
  font-family: 'arial',  sans-serif;
  text-align: center;
  text-transform: capitalize;
  font-size: 28px;
  line-height: 1em;
  text-shadow: 0 0 2px white, 0 0 2px white, 0 0 2px white, 0 0 3px white, 0 0 3px white;
  &__name{
    //border: 1px solid black;
    &--mod1{
      letter-spacing: -1px;
      font-stretch: condensed;
      font-size: 27px;
    }
    &--mod2{
      letter-spacing: -1px;
      font-stretch: ultra-condensed;
      font-size: 24px;
    }
  }
  &__date{
    font-size: 22px;
    letter-spacing: -1px;
    font-stretch: ultra-condensed;
  }
  &__epitaph{
    font-size: 26px;
    font-family: 'Christmas ScriptC',  sans-serif;
    text-transform: none;
    letter-spacing: 2px;
    font-stretch: ultra-expanded;
  }
}
