<div class="order_number">Заказ №{{order}}</div>

<div class="ritual_page_wrapper">

  <form class="ritual-form" [formGroup]="ritualForm" (ngSubmit)="submit()">

    <div class="form-control--wrap">
      <span>Выберите форму</span>
      <hr>
      <div class="form-control__item">
        <div class="form-control__radio">
          <input
            type="radio"
            class="input_radio"
            id="radioFormat1"
            formControlName="shape"
            (ngModelChange)="changeShape($event)"
            [value]="true"
          />
          <label for="radioFormat1">Овал</label>
        </div>

        <div class="form-control__radio">
          <input
            type="radio"
            class="input_radio"
            id="radioFormat2"
            formControlName="shape"
            (ngModelChange)="changeShape($event)"
            [value]="false"
          />
          <label for="radioFormat2">Прямоугольник</label>
        </div>
      </div>
    </div>

    <div class="form-control--wrap">
      <span>Ориентация</span>
      <hr>
      <div class="form-control__item">
        <div class="form-control__radio">
          <input
            type="radio"
            class="input_radio"
            id="radioOrientation1"
            formControlName="orientation"
            [value]="true"
          />
          <label class="form-control__radio1" for="radioOrientation1">Вертикально</label>
        </div>

        <div class="form-control__radio">
          <input
            type="radio"
            class="input_radio"
            id="radioOrientation2"
            formControlName="orientation"
            [value]="false"
          />
          <label for="radioOrientation2">Горизонтально</label>
        </div>
      </div>
    </div>

    <div class="form-control--wrap">
      <label>Расположение отверстий</label>
      <hr>
      <div class="form-control__item">
        <div class="form-control__radio">
          <input
            type="radio"
            class="input_radio"
            id="radioHole1"
            formControlName="holes"
            (ngModelChange)="changeHoles($event)"
            [value]="true"
          />
          <label for="radioHole1">Верх/низ</label>
        </div>
        <div class="form-control__radio">
          <input
            type="radio"
            class="input_radio"
            id="radioHole2"
            formControlName="holes"
            (ngModelChange)="changeHoles($event)"
            [value]="false"
          />
          <label for="radioHole2">По бокам</label>
        </div>
      </div>
    </div>

    <div class="form-control--wrap">
      <span>Цветность</span>
      <hr>
      <div class="form-control__item">
        <div class="form-control__radio">
          <input
            type="radio"
            class="input_radio"
            id="radioColored1"
            formControlName="colored"
            (ngModelChange)="changeColored($event)"
            [value]="true"
          />
          <label for="radioColored1">Цветная</label>
        </div>

        <div class="form-control__radio">
          <input
            type="radio"
            class="input_radio"
            id="radioColored2"
            formControlName="colored"
            (ngModelChange)="changeColored($event)"
            [value]="false"
          />
          <label for="radioColored2">Чёрно-белая</label>
        </div>
      </div>
    </div>

    <div class="form-control--wrap">
      <label>Выберите размер</label>
      <hr>
      <div class="form-control">
        <div class="form-control__select">
          <ng-select id="selectSize" formControlName="sizes" placeholder="Выберите размер..." [clearable]='false'>
            <ng-option *ngFor="let size of sizes" [value]="size.id">{{size.name}}</ng-option>
          </ng-select>
        </div>
      </div>
    </div>

    <div class="form-control--wrap">
      <label>Выберите фон</label>
      <hr>
      <div class="form-control">
        <div class="form-control__select">
          <ng-select id="selectBG" formControlName="background" placeholder="Выберите фон..." [clearable]='false'>
            <ng-option *ngFor="let bg of background" [value]="bg.id">{{bg.name}}</ng-option>
          </ng-select>
        </div>
      </div>
    </div>

    <div class="form-control">
      <div class="form-control__radio">
        <input
          type="checkbox"
          id="cross"
          class="input_check"
          formControlName="cross"
          (ngModelChange)="changeCross($event)"
        >
        <label for="cross">Добавить крестик</label>
      </div>
    </div>

    <div class="form-control">
      <div class="form-control__radio">
        <input
          type="checkbox"
          id="withoutPhoto"
          class="input_check"
          formControlName="withoutPhoto"
          (change)="changePhoto()"
        >
        <label for="withoutPhoto">Без фото</label>
      </div>
    </div>

    <div class="form-control">
      <div class="form-control__radio">
        <input
          type="file"
          id="fileUpload"
          accept=".png, .jpg, .jpeg, .heic"
          (change)="loadWithInput($event)"
          multiple
        >
        <label *ngIf="withPhoto" class="button" for="fileUpload">Загрузить фото</label>
      </div>
    </div>

    <div class="photo_block">
      <div class="photo_block__wrap" *ngFor="let photo of urlArr; let i = index">
        <div class="photo_block__name">{{filesArr[i].name}}</div>
        <img [src]="photo" class="photo_block__photo" alt="Фото">
        <span class="photo_block__delete" (click)="delete_photo(photo)">&#10060;</span>
      </div>
    </div>

    <div class="form-control">
      <div class="form-control__radio">
        <input
          type="checkbox"
          id="withText"
          class="input_check"
          formControlName="withText"
          (change)="clearText()"
        >
        <label for="withText">Подписать ФИО</label>
      </div>
    </div>

    <div *ngIf="ritualForm.get('withText')?.value" class="group-wrap">
      <div class="form-control">
        <label>Фамилия</label>
        <input
          type="text"
          name="last_name"
          class="input_text"
          formControlName="last_name"
          maxlength="24"
          placeholder="Фамилия..."
        />
      </div>

      <div class="form-control">
        <label>Имя</label>
        <input
          type="text"
          name="first_name"
          class="input_text"
          formControlName="first_name"
          maxlength="15"
          placeholder="Имя..."/>
      </div>

      <div class="form-control">
        <label>Отчество</label>
        <input
          type="text"
          name="patronymic"
          class="input_text"
          formControlName="patronymic"
          maxlength="20"
          placeholder="Отчество..."
        />
      </div>

      <div class="form-control">
        <label>День рождения</label>
        <input type="date" class="input_text" name="birthday" formControlName="birthday"/>
      </div>

      <div class="form-control">
        <label>День смерти</label>
        <input type="date" class="input_text" name="death" formControlName="death"/>
      </div>

      <div class="form-control">
        <label>Эпитафия</label>
        <input
          type="text"
          name="epitaph"
          class="input_text"
          formControlName="epitaph"
          placeholder="Эпитафия..."
        />
      </div>

    </div>

    <div class="form-button">
      <button type="submit" class="button" [disabled]="ritualForm.invalid || formSubmitted">Отправить</button>
    </div>

  </form>

  <app-ritual-preview
    class="preview"
    [clickLocked]="false"
    [showPrice]="true"
    [width]="369"
    [legend]="{
          'last_name': this.ritualForm.get('last_name')?.value ?? '',
          'first_name': this.ritualForm.get('first_name')?.value ?? '',
          'patronymic': this.ritualForm.get('patronymic')?.value ?? '',
          'birthday': (this.ritualForm.get('birthday')?.value | date: 'dd.MM.YYYY') ?? '',
          'death': (this.ritualForm.get('death')?.value | date: 'dd.MM.YYYY') ?? '',
          'epitaph': this.ritualForm.get('epitaph')?.value ?? ''
      }"
    [shape]="shape"
    [holes]="showHole"
    [cross]="showCross"
    [sizes]="this.ritualForm.get('sizes')?.value"
    [background]="this.ritualForm.get('background')?.value"
    [colored]="this.ritualForm.get('colored')?.value"
    (refresh)="refreshData($event)"
  ></app-ritual-preview>

</div>

<div class="spacer"></div>
