.layout{
  border-right: 15px solid var(--header_color);
  border-left: 15px solid var(--header_color);
  //@include mobile{}
  //@include desktop{}
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  max-width: 1940px;
  margin: 0 auto;
  box-shadow: 0 0 12px 8px var(--main_color);

  background-color: var(--main_color);
  font-family: 'Roboto', 'Times New Roman', 'Arial',  sans-serif;
  font-size: var(--font_size);
}

.main{
  display: flex;
  justify-content: center;
  padding: 20px;
  flex: 1 1 auto;

}
