.reg-form{
  padding: 50px;
  background-color: white;
  border: 1px solid blue;
  border-radius: 8px;
}

.form-control{
  display: flex;
  flex-direction: column;
  width: 320px;
  margin-bottom: 16px;
  &__radio{
    display: flex;
    gap: 24px;
    align-items: center;
    //border: 1px solid green;
  }
}
