<div class="order">

  <div class="order__who_added">
    <span>{{order.name}}</span>
  </div>

  <div class="order__title">
    Заказ № {{order.order_number}}
  </div>

  <div class="order__format">
    {{sizes[order.sizes-1].name}}
  </div>

  <div class="order__delete" (click)="delete(order_number, order.id)" title="Удалить">
    <span class="icon-trash"></span>
  </div>

  <div class="order__date">
    {{order.created_at | date:'dd.MM.yyyy'}}
  </div>

  <div class="order__thumb">
    <img class="order__thumb" [src]="path" alt="Photo" />
  </div>

  <div class="order__preview">
    <app-ritual-preview
      [srcPhoto]="path"
      [clickLocked]="true"
      [width]="200"
      [legend]="{
          'last_name': order.last_name ?? '',
          'first_name': order.first_name ?? '',
          'patronymic': order.patronymic ?? '',
          'birthday': order.birthday ?? '',
          'death': order.death ?? '',
          'epitaph': order.epitaph ?? ''
        }"
      [background]="order.background"
      [colored]="order.colored"
      [shape]="order.shape?'oval':'rectangle'"
      [holes]="order.holes"
      [cross]="order.cross"
    ></app-ritual-preview>
  </div>

</div>
