.order {
  display: grid;
  min-width: 200px;

  grid-template-areas:
    "T T T T T X"
    "P P P P P P"
    "P P P P P P"
    "P P P P P P"
    "P P P P P P"
    "P P P P P P"
    "P P P P P P"
    "P P P P P P"
    "P P P P P P"
    "F F F F F F"
    ". . H H . ."
    "D D H H W W";

  gap: 4px;
  grid-template-rows: repeat(12, 1fr);
  grid-template-columns: repeat(6, 1fr);
  border: 1px solid #2c3034;
  border-radius: 6px;
  background-color: #ffffff;
  padding: 6px 12px;
  box-shadow: 5px 5px 5px 5px rgba(black, 0.3);

  &__preview {
    grid-area: P;
    text-align: center;
  }

  &__thumb {
    grid-area: H;
    text-align: center;
    align-content: center;
    height: 64px;
  }

  &__delete {
    grid-area: X;
    text-align: center;
    align-content: center;
    cursor: pointer;

    &:hover {
      transition: transform 100ms ease;
      transform: scale(1.1);
    }
  }

  &__title {
    grid-area: T;
    color: #062f94;
    text-align: start;
    align-content: center;
    font-size: 1.3rem;
    font-weight: bold;
  }

  &__who_added {
    grid-area: W;
    color: #062f94;
    text-align: end;
    align-content: end;
    font-size: 1.0rem;
    font-weight: bold;
  }

  &__format {
    grid-area: F;
    text-align: center;
    align-content: center;
    font-size: 1.5rem;
    font-weight: bold;
  }

  &__date {
    grid-area: D;
    text-align: start;
    align-content: end;
    font-size: .7rem;
    font-style: italic;
  }
}

.icon-trash:before {
  content: "\e90c";
  font-size: 1.7rem;
  font-style: normal;
  color: #b70000;
}
