<div class="price">
  <span class="icon-cart"></span>
  <div class="price__block">
    <p>Кол-во: {{filesArr.length}} шт</p>
    <p>Цена: {{price}} руб</p>
  </div>
</div>

<div class="photo">
  <div class="photo__dropArea" appDragdrop (fileDropped)="loadWithDropped($event)">
    <label class="button" for="fileUpload">Найти фотки</label>
    <input
      type="file"
      id="fileUpload"
      (change)="loadWithInput($event)"
      accept=".png, .jpg, .jpeg, .heic"
      multiple
    >
    <img class="photo__icon" src="assets/images/glutton.png" alt="Upload">
    <!--    <img class="photo__icon" src="assets/icons/upload2.svg" alt="Upload">-->
    <!--    <span class="photo__icon">A</span>-->
    <span>Съем ваши фото, перетаскивайте их сюда)</span>
  </div>

  <div class="photo__list">
    <div *ngFor="let file of filesArr; let i = index">
      <app-photo-card [file]="file" [index]="i" (outputIndex)="deletePhoto(i)"></app-photo-card>
    </div>
  </div>

  <div class="">
    <div *ngIf="filesArr.length>0" class="photo__sendblock">
      <button class="button" (click)="deleteAllPhotos()">Удалить все фото</button>
    </div>
    <div class="photo__sendblock">
      <button class="button">Отправить на распечатку</button>
    </div>

  </div>
</div>


