.photo_list {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  padding: 50px 0;
  justify-content: center;

  &__button {
    width: 500px;
    text-align: center;
  }
}

.photo {
  &__border {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #2c3034;
    border-radius: 10px;
    width: 375px;
    height: 290px;
    padding: 8px;
  }

  &__icon {
    font-family: "Font Icon", serif;
    font-size: 100px;
    color: #4f5050;
  }
}
