@import "stules/button";
@import "stules/input_text";
@import "stules/radio_custom";
@import "stules/check_custom";
@import "stules/deeppurple-amber.css";
@import "~@ng-select/ng-select/themes/default.theme.css";

h1, h2, h3, h4, h5, h6, p {
  margin-top: 0;
}

:root{
  --font_size: 18px;
  --max_width: 1750px;
  --main_color: #f1f7ff;
  --header_height: 100px;
  --footer_height: 100px;
  --header_color: rgba(160, 160, 160, 0.8);
  --header_logo: url('./assets/images/logo.png');
  --header_image: url('./assets/images/header2.png');
  --header_lens: url('./assets/images/headerLens.png');

  --bg_color_button: #192e44; //#0d6efd
  --hover_color_button: #187ca6;
  --border_button: 1px solid #4f5050;
}

@font-face {
  font-family: 'icomoon';
  src:  url('assets/fonts/icomoon/fonts/icomoon.eot?klmh26');
  src:  url('assets/fonts/icomoon/fonts/icomoon.eot?klmh26#iefix') format('embedded-opentype'),
  url('assets/fonts/icomoon/fonts/icomoon.ttf?klmh26') format('truetype'),
  url('assets/fonts/icomoon/fonts/icomoon.woff?klmh26') format('woff'),
  url('assets/fonts/icomoon/fonts/icomoon.svg?klmh26#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'Christmas ScriptC';
  src: local('assets/fonts/Christmas ScriptC.ttf'), url(./assets/fonts/Christmas_ScriptC.ttf);
}
@font-face {
  font-family: 'DS_Eraser2';
  src: local('assets/fonts/DS_Eraser2.ttf'), url(./assets/fonts/DS_Eraser2.ttf);
}

.hidden {
  display: none !important;
}

.spacer {
  flex: 1 1 auto;
}

body{
  //$btn-close-color:            $white;
  //font: 400 14px/20px Roboto, "Helvetica Neue", sans-serif;
}
//html, body { height: 100%; }
//body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
