h1, h2, h3, h4, h5, h6, p {
  margin-top: 0;
}

:root{
  --header_height: 200px;
  --footer_height: 150px;
  --header_color: #a3a7ad;
  --main_color: #d6d7d9;
  --header_logo: url("./assets/images/logo.png");
}

@font-face {
  font-family: 'Font Icon';
  src: local('assets/fonts/Font-Icons.ttf'), url(./assets/fonts/Font-Icons.ttf);
}

.hidden {
  display: none !important;
}

.spacer {
  flex: 1 1 auto;
}
