.wrapper{
  display: flex;

}

.ceram-form{
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 400px;

  input{
    border-radius: 4px;
    height: 28px;
    &.ng-invalid.ng-touched{
      border: 1px solid red;
      background-color: #eacfd1;
    }
    &.ng-valid.ng-touched{
      border: 1px solid green;
      background-color: #def5de;
    }
  }
  .validation{
    color: red;
  }
}

.textwrap{
  display: flex;
  flex-direction: column;
  width: 270px;
  position: absolute;
  top: 370px;
  left: 50px;
  z-index: 7;
  font-family: 'arial',  sans-serif;
  text-align: center;
  text-transform: capitalize;
  font-size: 28px;
  .ceram__name{
    &--mod1{
      letter-spacing: -1px;
      font-stretch: condensed;
      font-size: 27px;
    }
    &--mod2{
      letter-spacing: -1px;
      font-stretch: ultra-condensed;
      font-size: 24px;
    }
  }

}

.ceram{
  display: flex;
  position: relative;
  left: 500px;
  min-height: 600px;

  &__o1{
    position: absolute;
    z-index: 2;
  }

  &__o2{
    position: absolute;
    height: 440px;
    top: 35px;
    left: 0px;
    z-index: 1;
  }
  &__o3{
    position: absolute;
    height: 380px;
    top: 0px;
    left: 0px;
    z-index: 0;
  }
  &__date{
    font-stretch: extra-condensed;
    letter-spacing: -2px;
    font-size: 24px;
  }
}
