.wrapper_ceram_page{
  display: flex;
}

.ceram-form{
  //border: 1px solid black;
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 400px;
}

.form-control{
  display: flex;
  flex-direction: column;
  width: 320px;
  margin-bottom: 16px;
  &__radio{
    display: flex;
    gap: 24px;
    align-items: center;
    //border: 1px solid green;
  }
}

.input_text{
  border: 2px solid var(--bg_color_button);
  border-radius: 12px;
  padding: 6px;
  &.ng-invalid.ng-touched{
    border: 2px solid red;
    background-color: #eacfd1;
  }
  &.ng-valid.ng-touched{
    border: 2px solid green;
    background-color: #def5de;
  }
}
.validation{
  color: red;
}

.preview{
  display: flex;
  position: relative;
  left: 500px;
  min-height: 600px;

  &__frame{
    position: absolute;
    z-index: 2;
    //height: 100ex;
    border: 1px solid black;
  }

  &__holeV{
    position: absolute;
    z-index: 15;
    left: 175px;
  }

  &__holeH{
    position: absolute;
    z-index: 15;
    top: 240px;
  }

  &__person{
    position: absolute;
    height: 440px;
    top: 35px;
    left: 0px;
    z-index: 1;
  }
  &__background{
    position: absolute;
    height: 510px;
    z-index: 0;
  }
  &__date{
    font-stretch: extra-condensed;
    letter-spacing: -2px;
    font-size: 24px;
  }
}

.textOnCeram{
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 7;
  top: 370px;
  left: 50px;
  width: 270px;
  font-family: 'arial',  sans-serif;
  text-align: center;
  text-transform: capitalize;
  font-size: 28px;
  text-shadow: 0px 0px 2px white, 0 0 2px white, 0 0 2px white, 0 0 3px white, 0 0 3px white;
  &__name{
    //border: 1px solid black;
    &--mod1{
      letter-spacing: -1px;
      font-stretch: condensed;
      font-size: 27px;
    }
    &--mod2{
      letter-spacing: -1px;
      font-stretch: ultra-condensed;
      font-size: 24px;
    }
  }
  &__date{
    font-size: 24px;
    letter-spacing: -1px;
    font-stretch: ultra-condensed;
  }
  &__epitaph{
    font-size: 26px;
    font-family: 'Christmas ScriptC',  sans-serif;
    text-transform: none;
    letter-spacing: 2px;
    font-stretch: ultra-expanded;
  }
}
