@import "../../../styles/button";

$menu_gap: 8px;
$menu_border: 3px solid #ffffff;
$menu_border_radius: 0 0 22px 22px;
$btn_active_bg_color: #327e53;

.menu_wrapper {
  display: flex;
  justify-content: center;
}

.menu {
  display: flex;
  gap: $menu_gap;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 50;
  margin: 0;
  padding: 8px;
  border: $menu_border;
  border-radius: $menu_border_radius;
  background-color: var(--header_color);
  cursor: pointer;
  list-style-type: none;

  width: 95vw;
  @media (min-width: 1280px) {
    width: 1216px;
  }
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  flex: 1 1 auto;

  &__icon {
    text-align: center;
    font-size: 1.65rem;
    font-style: normal;
    color: white;
  }
}

// 800x480, 1280x720, 1920x1080
@media (max-width: 900px) {
  .menu {
    gap: 16px;
    width: 400px;
  }
  .button {
    flex: none;

    &__icon {
      font-size: 2rem;
    }

    &__title {
      display: none;
    }
  }
}

.active {
  background-color: $btn_active_bg_color;
}

.icon-photo_doc:before {
  content: "\e900";
}

.icon-print:before {
  content: "\e901";
}

.icon-ceramics:before {
  content: "\e902";
}

.icon-tacho:before {
  content: "\e907";
}

.icon-about:before {
  content: "\e908";
}



