.menu_wrapper{
  display: flex;
  justify-content: center;
}

.menu{
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  padding: 16px;
  margin: 0;
  min-height: 70px;
  cursor: pointer;
  gap: 20px;

  &__item{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    border: var(--border_color_button);
    background-color: var(--bg_color_button);
    border-radius: 30%;
  }
  &__item:hover{
    background-color: var(--hover_color_button);
  }
  &__icon{
    font-family: "Font Icon";
    font-size: 30px;
    font-style: normal;
    color: white;
  }
}

.active{
  background-color: #2a4769;
}


