<app-modal *ngIf="showModal" (hideModal)="showModal=$event">
  <app-photo-editor
    (emitCropImg)="implementCropImg($event)"
    [onHorizon]=onHorizon
    [photoURL]="srcImg"
  >
  </app-photo-editor>
</app-modal>

<div class="card__wrapper">

  <div class="card__name">{{fileName}}</div>

  <div class="card__delete" *ngIf="isLoad" (click)="delete()" title="Удалить">
    <span class="icon-trash"></span>
  </div>
  <div class="card__crop" *ngIf="isLoad" (click)="showModal=isLoad" title="Редактировать">
    <span class="icon-crop"></span>
  </div>

  <div class="card__photo">
    <mat-progress-bar
      class="card__progress"
      mode="determinate"
      [value]="progress"
      *ngIf="progress"
    >
    </mat-progress-bar>

    <div *ngIf="!isLoad" class="spinner-border" role="status"></div>
    <img class="card__photo--horizontal"
         [src]="srcImg"
         (load)="loadImg($event)"
         (click)="showModal=isLoad"
         [style]="isLoad?null:'display: none'"
         title="Кликните для редактирования"
    />
  </div>

  <div class="card__size">
    <ng-select [(ngModel)]="selectedSize" placeholder="Выберите размер">
      <ng-option *ngFor="let size of sizes" [value]="size.id">{{size.name}}</ng-option>
    </ng-select>
  </div>

  <div class="card__quantity">
    <button class="button card__button--l" (click)="quantityPhoto(0)">-</button>
    <input type="text" class="input_text card__input"
           [value]="quantity"
           [(ngModel)]="quantity"
    >
    <button class="button card__button--r" (click)="quantityPhoto(1)">+</button>
  </div>
</div>

